/* You can add global styles to this file, and also import other style files */

*{
    padding: 0px;/*Margem interna*/
    margin: 0px;/*margem externa*/
    box-sizing: border-box; /*Muda a estrutura de espaçamentos*/
    font-family: Inter;
    }
    